.bandeau{
  color: gold;
  float:left;
  text-align:left;
  margin-left: 8%;
}

.text_bandeau{
  color:gold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 120%;
}
.player{
  color:gold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 130%;
  float:right;
  text-align:right;
  width: 40%;
}

.top_body_border{
  width: 100%;
  height: 126px;
  background-color: gold;
  text-align: center;
}

.top_body{
  -ms-transform: translate(1%, 50%);
  transform: translate(1%, 50%);
  text-align: center;
  width: 98%;
  background-color: #252525;
  color:gold
}

.bandeau_laterl{
  width: 12px;
  height: 3100px;
  background-color: #d5001c;
  text-align: left;
}


.MuiMenu-paper{background-color: #d5001c !important;}
.rhap_progress-filled,.rhap_progress-indicator {background-color: gold !important;}.rhap_button-clear.rhap_volume-button {color: gold !important;}.rhap_volume-bar{background-color: gold !important;}.rhap_volume-indicator {background-color: #252525 !important;}.rhap_container {box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4) !important;}.rhap_progress-bar {background-color: gold !important;}.rhap_progress-bar-show-download {background-color: goldenrod !important;}.rhap_download-progress {background-color: goldenrod !important;}.rhap_play-pause-button,.rhap_time {color: gold !important;}